<?xml version="1.0"?>
<!--
/**
 * Jason Alvis Core
 *
 * @category    JasonAlvis
 * @package     JasonAlvis_Core
 * @author      Jason Alvis
 * @copyright   Copyright (c) 2016 Jason Alvis (http://jasonalvis.co.uk)
 * @license     http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @desc        Creates the configuration options, stores > settings > configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="jasonalvis_core" translate="label" sortOrder="100">
            <label>Jason Alvis</label>
        </tab>
    </system>
</config>
